.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -1.7rem;
}

.inputContainer{
    display: flex;
    max-width: 47.68rem;
    gap: 0.5rem;
}

.inputContainer input{
    border: 1px solid var(--gray-700);
    padding: 16px;
    width: 42.6rem;
    border-radius: 8px;
    background-color: var(--gray-500);
    color: var(--gray-200);
}

.inputContainer button{
    border: none;
    padding: 16px;
    background-color: var(--blue-800);
    color: var(--gray-100);
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    text-align: center;
    transition: background-color .3s;
}

.inputContainer button svg{
    margin-left: 8px;
}

.inputContainer button:hover{
   background: var(--blue-500);
}

.contentList{
    max-width: 47.68rem;
    display: flex;
    flex-direction: column;
    margin-inline: 1rem;
    margin-top: 4rem;
}


.contentList div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.countSection section:nth-child(1) div{
    background: var(--gray-400);
    display: inline-block;
    margin-left: 8px;
    font-weight: bold;
    font-size: 0.75rem;
    padding-inline: 8px;
    border-radius: 35rem;
}

.countSection section:nth-child(2) div{
    background: var(--gray-400);
    display: inline-block;
    margin-left: 8px;
    font-weight: bold;
    font-size: 0.75rem;
    padding-inline: 8px;
    border-radius: 35rem;
}

.countSection section:nth-child(1) span{
    color: var(--blue-500);
    font-weight: bold;
    font-size: 0.875rem;
}

.countSection section:nth-child(2) span{
    color: var(--purple-500);
    font-weight: bold;
    font-size: 0.875rem;
}

ul{
    margin-top: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

ul li .tasksContainer{
    display: flex;
    border-radius: 8px;
    padding: 16px;
    max-width: 786px;
    background-color: var(--gray-400);
    align-items: flex-start;
    justify-content: space-between;
    gap: 12px;
}

.tasksContainer .trashButton{
    background-color: transparent;
    border: none;
    transition: color .2s;
    font-weight: bold;
}

.tasksContainer .trashButton:hover{
    color: var(--red-500);
}

.checkboxContainer input{
    appearance: none;
    border: 2px solid var(--purple-500);
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}

.checkboxContainer input::before{
    background-color: var(--purple-500);
    content: "";
    cursor: pointer;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    opacity: 0;
    transition: opacity .2s;
}

.checkboxContainer input:checked::before{
    opacity: 1;
}